# Orakel of Funk Helm Chart

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

The chart installs the Orakel of Funk operator, and a ValKey instance which is uesd by the operator to store its state.

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
